.monitorBar {
    background-color: rgb(30, 30, 46, 0.7);
    color: #cdd6f4;
    font-weight: bolder;
    font-style: italic;
}

.monitorBarGPU {
    background-color: rgb(30, 30, 46, 0.7);
    color: #cdd6f4;
    font-weight: bolder;
    font-style: italic;
}

.monitorBarGPU2 {
    background-color: rgb(30, 30, 46, 0.7);
    color: #cdd6f4;
    font-weight: bolder;
    font-style: italic;
}

.inner-box {
    padding: 4px;
}