.bat {
  background-color: rgb(17, 17, 27, 0.5);
	border-radius: 10px;
	font-size: 22px;
	padding: 0px 9px 0px 10px;
}

.batTextGreen {
	color: #a6e3a1;
}

.batTextYellow {
	color: #f9e2af;
	padding-right: 7px;
}

.batTextRed {
	color: #f38ba8;
}

.batTextRedPad {
	color: #f38ba8;
	padding-right: 5px;
}