.graphBox {
	background-color: rgb(17, 17, 27, 0.5);
	border-radius: 10px;
	padding: 4px 10px 0px 10px;
}

.cpuGraph {
	color: transparent;
	background-color: #f38ba8;
}

.gpuGraph {
	color: transparent;
	background-color: #94e2d5;
}

.memGraph {
	color: transparent;
	background-color: #89b4fa;
}

.netGraph {
	color: transparent;
	background-color: #f9e2af;
}