.powermenu {
    background-color: rgb(17, 17, 27, 0.5);
    border-radius: 10px;
}

.powermenuEventboxOpen {
    background-color: transparent;
    border-radius: 10px 0px 0px 10px;
    transition: all 400ms;
}

.powermenuEventboxOpen:hover {
    background-color: rgb(108, 112, 134, 0.5);
    border-radius: 10px 0px 0px 10px;
    transition: all 400ms;
}

.powermenuEventboxClosed {
    border-radius: 10px;
    transition: all 400ms;
}

.powermenuEventboxClosed:hover {
    background-color: rgb(108, 112, 134, 0.5);
    border-radius: 10px;
    transition: all 400ms;
}

.nix {
    padding: 2px 10px 0px 10px;
}

.lock {
    border-radius: 0px;
    color: #a6e3a1;
    font-size: 18px;
}

.lock:hover {
    background-color: rgb(108, 112, 134, 0.5);
}

.reboot {
    color: #fab387;
    font-size: 18px;
}

.reboot:hover {
    background-color: rgb(108, 112, 134, 0.5);
}

.suspend {
    color: #cba6f7;
    font-size: 18px;
}

.suspend:hover {
    background-color: rgb(108, 112, 134, 0.5);
}


.shutdown {
    border-radius: 0px 10px 10px 0px;
    color: #f38ba8;
    font-size: 18px;
}

.shutdown:hover {
    background-color: rgb(108, 112, 134, 0.5);
}