.ws {
    background-color: rgb(17, 17, 27, 0.5);
    border-radius: 10px;
    opacity: 1;
    padding: 0px 10px 0px 10px;
}

.wsHidden {
    opacity: 0;
}

.monLabel {
    background-color: rgb(17, 17, 27, 0.4);
    color: #89b4fa;
    font-size: 12px;
    border-radius: 0px 0px 10px 10px;
}

.monLabelHidden {
    background-color: transparent;
    color: transparent;
}